RAG with AutoEmailShoot.json
{
  "name": "RAG Starter Template using Simple Vector Stores, Form trigger and OpenAI 4",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Your Documents",
        "formDescription": "Upload PDF, CSV, or Excel files to add to the knowledge base",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv, .xlsx",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "83ed351e-90e8-458f-a01b-73001ef1800f",
      "name": "Upload your file here",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        2368,
        688
      ],
      "webhookId": "096da50e-9733-43d9-9c4b-67058a6f46d8",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "26d63e24-2592-41f9-9b4b-edab81e99f21",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2768,
        1200
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "vhwIxqGnngCQGte8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "3a69c8a7-bf95-4de2-84b0-ae2cc3d2e4e7",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2784,
        896
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "vector_store_key"
        },
        "embeddingBatchSize": 100
      },
      "id": "0f4185ea-d7a9-44a9-a824-98f9dc2c2a5d",
      "name": "Insert Data to Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        2560,
        688
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user based on uploaded documents",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "vector_store_key"
        }
      },
      "id": "ce86b41b-7e1b-458f-ab13-d6b187854ae8",
      "name": "Query Data Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        3216,
        960
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2669a65e-f0f3-45aa-95c0-621b15a4fc67",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        2928,
        720
      ],
      "webhookId": "4091fa09-fb9a-4039-9411-7104d213f601",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "d43cf585-4192-4f53-9532-4677923289ba",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3040,
        944
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "vhwIxqGnngCQGte8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful AI assistant that answers questions based on the knowledge base. Always use the knowledge_base tool to search for relevant information before answering. If you cannot find the answer in the knowledge base, politely say so."
        }
      },
      "id": "52685efe-f990-4920-a58b-07c7bcfe8209",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3152,
        720
      ]
    },
    {
      "parameters": {
        "sendTo": "purnank.250303017@iimmumbai.ac.in",
        "subject": "Data you requested",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3472,
        720
      ],
      "id": "1a680b5e-bf61-4cb5-a297-13b34a528497",
      "name": "Send a message",
      "webhookId": "4c77c871-be05-4e9d-a5cc-53f42a0f9b9f",
      "credentials": {
        "gmailOAuth2": {
          "id": "9Ck0FwotCDlviEji",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e9fc6ac3-6aeb-47e4-8ced-0823a114d59c",
  "meta": {
    "templateId": "5010",
    "templateCredsSetupCompleted": true,
    "instanceId": "a32d89787d58cd8d475f4335b9d1d24ae757aa2351b55ba80263559a26d738c2"
  },
  "id": "uJo-_e5rGOalC8JuQZl-K",
  "tags": []
}